@page
@model Recipe_Nutrition_App.Pages.Account.LogoutModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Signing out…</title>
    <meta http-equiv="refresh" content="0;url=/" />
</head>
<body>
<p>Signing you out… <a href="/">Continue</a></p>
</body>
</html>
