@using Microsoft.AspNetCore.Components.Authorization
<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly" NotFoundPage="typeof(Pages.NotFound)">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
                <NotAuthorized Context="routeAuth">
                    @if (routeAuth.User.Identity?.IsAuthenticated == true)
                    {
                        <div class="container py-5">
                            <p class="text-danger">You do not have permission to view this page.</p>
                            <a href="/">Home</a>
                        </div>
                    }
                    else
                    {
                        <LoginRedirect />
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
    </Router>
</CascadingAuthenticationState>
